body {
    background-color: powderblue;
  }
  h1 {
    color: blue;
    font-family: verdana;
  }
  p {
    color: red;
  }
  .FirstClass{
    font-family: "Brush Script MT";
    background-color: red;
  }
  .Boba{
    background-color: rgba(0, 204, 255, 0.653);

  }